@using Pumpkin.Web.Models

@model IEnumerable<Snippet>
@{
   ViewBag.Title = "Home Page";
}
@section Scripts {

   <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
   <script src="/signalr/hubs"></script>

   <script type="text/javascript">
      $(function () {
         // switch from "bootstrap hide" to "jQuery hide"
         $("#resultForm").hide().removeClass('hide');
         // Declare a proxy to reference the hub.
         var resultHubConnectionId;
         var submissionInfo = $("#submissionInfo");

         var handleResult = function (connectionId, snippetId, message, newStatus) {
            submissionInfo.text("Done! CliendId= " + resultHubConnectionId + ", ServerId= " + connectionId + ", SnippetId= " + snippetId);
            $("#resultForm").show();            
            $("#resultStatus").text(message.status);
            var outputText;
            if (message.output && message.output.length) {
               var first = true;
               $.each(message.output, function (idx, val) {
                  if (first) {
                     first = false;
                     outputText = val;
                  }
                  else {
                     outputText = outputText + "\n" + val;
                  }
               });               
            }
            else if (message.exception) {
               outputText = "Exception: " + message.exception;
            }
            $("#resultOutput").text(outputText);
            $("#resultTime").text(message.executionTime + "ms");
            $("#resultTotalTime").text(message.totalTime + "ms");

            var snippetStatus = $("#" + snippetId).find(".rectangle");
            if (snippetStatus) {
               snippetStatus.css("background", newStatus);
            }
         };

         if ($.connection && $.connection.resultHub) {
            var resultHub = $.connection.resultHub;
            resultHub.client.sendResult = handleResult;
            $.connection.hub.start().done(function () {
               // TODO: place in a proper object?
               resultHubConnectionId = $.connection.hub.id;
            });
         }

         $(".btnDelete").click(function () {
            $("#resultForm").hide();
            var snippetId = $(this).data("snippet-id");

            $.ajax("/Home/DeleteSnippet", {
               type: "POST",
               data: { snippetId: snippetId }

            }).done(function (data, textStatus, jqXHR) {
               if (jqXHR.status >= 200 && jqXHR.status < 300) {
                  submissionInfo.text("Snippet " + snippetId + " deleted");
                  $("#" + snippetId).remove();
               }
               else {
                  submissionInfo.text("Error deleting snippet: " + data);
               }
            });
         });

         $(".btnGo").click(function () {
            submissionInfo.text("Submitting...");
            $("#resultForm").hide();
            var snippetId = $(this).data("snippet-id");

            $.ajax("/Home/SubmitRequest", {
               type: "POST",
               data: { snippetId: snippetId, connectionId: resultHubConnectionId }

            }).done(function (data, textStatus, jqXHR) {
               if (jqXHR.status == 202) {
                  submissionInfo.text("Submitted...");
               }
               else {
                  handleResult(data.connectionId, snippetId, data.message, data.newStatus);
               }
            });
         });
      });
   </script>
}

<div class="jumbotron">
   <h2>"Hosted" Pumpkin</h2>
   <p>A proof-of-concept for the submission, compilation and execution of C# snippets, using an unmanaged host to fine-control their execution</p>
   @Html.ActionLink("Create a new snippet", "Create", null, new { @class = "btn btn-default" })
</div>

<div class="row">
   <div id="submissionInfo"></div>
   <form class="form-horizontal hide" id="resultForm">
      <div class="form-group">
         <label class="col-sm-2 control-label">Status</label>
         <div class="col-sm-8">
            <p class="form-control-static" id="resultStatus"></p>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-2 control-label">Output</label>
         <div class="col-sm-8">
            <pre class="form-control-static" id="resultOutput"></pre>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-2 control-label">Execution time</label>
         <div class="col-sm-8">
            <p class="form-control-static" id="resultTime"></p>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-2 control-label">Total time</label>
         <div class="col-sm-8">
            <p class="form-control-static" id="resultTotalTime"></p>
         </div>
      </div>
   </form>

</div>
<div class="row">      
   <h3>Execute a snippet</h3>
   <ul>
      @foreach (var item in Model) {
         <li id="@item.Id">
            <dl>
               <dt>Snippet: @item.Id &nbsp;</dt>
               <dd>
                  <span>Status:&nbsp;</span><span class="rectangle" style="background:@item.StatusColor;"></span>
                  <div>
                     <span style="vertical-align:baseline">C# version: @item.CompilerVersion</span>
                     <button class="btnDelete btn btn-link" data-snippet-id="@item.Id">Delete this snippet</button>
                  </div>
                  <pre>@item.Source</pre>
                  <button class="btnGo" data-snippet-id="@item.Id">Go!</button>
                  <div class="spacer" />
               </dd>
            </dl>
         </li>
      }
   </ul>
</div>